.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
